*{
    margin: 0px;
}
p{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
}
h1{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-size: 73px;
    font-weight: bolder;

}
h2{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-size: 45px;
    font-weight: bolder;
}
h3{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
}
.a2{
    color: white;
    background-color: #020100;
    border-bottom: 2px solid #282726;
}
.a3{
    background-color: #000000;
    color: white;
    padding-bottom: 150px;
}
.a4{
    background-color: #020100;
    color: white;
    padding: 60px 0px;
}
.a5{
    background-color: #201F1F;
}
.a{
    max-width: 1375px;
    margin: auto;
}
.b2{
    background-color: #201F1F;
    color: white;
    border: 2px solid #282726;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 6px;
}
ul{
    font-size: 18px;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}
button{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
}
.b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
.b3{
    background-color: #201F1F;
    color: white;
    border: 2px solid #282726;
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 6px;
}
.c{
    padding-top: 120px;
}
.c2{
    color: #8D8D8C;
    font-size: 21px;
    width: 760px;
    padding-top: 28px;
}
.c3{
    width: 100%;
    margin-top: 50px;
}
.d2{
    display: flex;
    align-items: center;
    border: 2px solid #201F1F;
    padding: 20px 25px;
    border-radius: 10px;
    width: 325px;
    margin-top: 25px;
}
.d2 img{
    width: 24px;
}
.d3{
    font-size: 18px;
    color: #8D8D8C;
    width: 250px;
    margin-left: 20px;
}
.d{
    display: flex;
    justify-content: space-between;
}
.d4{
    font-size: 22px;
    color: #8D8D8C;
}
.d5{
    font-size: 18px;
    padding-top: 20px;
}
.e{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
.e1{
    font-size: 22px;
    color: #8D8D8C;
}
.f0{
    border: 2px solid #282726;
    padding: 30px 25px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px0;
}
.f{
    margin-top: 120px;
    display: flex;
    gap: 100px;
}
.f3{
    background-color: #201F1F;
    color: #C0C0BF;
    border: 2px solid #282726;
    padding: 18px 35px;
    font-size: 18px;
    border-radius: 6px;
}
.f4{
    display: flex;
    gap: 25px;
    align-items: center;
}
.f5{
    font-size: 48px;
    font-weight: bolder;
}
.f6{
    display: flex;
    gap: 18px;
}
.f7{
    border: 2px solid #282726;
    padding: 15px 22px;
    font-size: 18px;
    border-radius: 6px;
    display: flex;
    gap: 15px;
    width: 220px;
    align-items: center;
}
.f9{
    border: 2px solid #282726;
    padding: 15px 18px;
    font-size: 18px;
    border-radius: 6px;
    display: flex;
    gap: 15px;
    width: 25px;
    align-items: center;
}
.f10{
    border: 2px solid #282726;
    padding: 15px 18px;
    font-size: 18px;
    border-radius: 6px;
    display: flex;
    gap: 15px;
    width: 160px;
    align-items: center;
}
.f11{
    border: 2px solid #282726;
    padding: 15px 18px;
    font-size: 18px;
    border-radius: 6px;
    display: flex;
    gap: 15px;
    width: 200px;
    align-items: center;
}
.f12{
    border: 2px solid #282726;
    padding: 15px 18px;
    font-size: 18px;
    border-radius: 6px;
    display: flex;
    gap: 15px;
    width: 50%;
    align-items: center;
}
.f13{
    display: flex;
    gap: 18px;
    margin-top: 20px;
}
.f14{
    border: 2px solid #282726;
    padding: 20px 18px;
    font-size: 18px;
    border-radius: 6px;
    gap: 15px;
    display: flex;
    width: 95.3%;
    align-items: center;
    margin-top: 20px;
    height: 100px;
}
.f15{
    margin-top: -80px;
    gap: 15px;
    display: flex;
}
.f16{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 35px;
}
.f17{
    border: 2px solid #282726;
    padding: 15px 15px;
    font-size: 18px;
    border-radius: 6px;
    width: 1px;
    align-items: center;
}
.f18{
    display: flex;
    gap: 20px;
    background-color: #FE6D2F;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    margin-left: 235px;
}
.g{
    font-size: 54px;
    font-weight: bolder;
}
.g1{
    border: 2px solid #282726;
    padding: 20px 22px;
    border-radius: 10px;
    margin-top: 50px;
}
.g2{
    border: 2px solid #282726;
    padding: 30px 22px;
    border-radius: 6px;
    width: 50%;
}
.g3{
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 15px;
}
.g4{
    font-size: 20px;
     font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    color: #C0C0BF;
    width: 600px;
}
.g5{
    display: flex;
    gap: 22px;
}